.container {
    text-decoration: none;
    scroll-margin-top: 5vh;
}

.detailed {
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    color: azure;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    text-decoration: none;
  }

.detailed:hover {
  transform: scale(1.05);
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.destination-button {
    display: block;
    width: 100%;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #007bff; 
    color: #ffffff;
    border: 2px solid #007bff;
    border-radius: 5px;
    text-decoration: none;
    margin: 10px;
    transition: all 0.3s;
}

.destination-button:hover {
    background-color: #0056b3;
    color: #ffffff;
    border: 2px solid #0056b3; 
    transform: scale(1.05);
    text-decoration: none;
}
  
a {
    text-decoration: none !important;
}

.highlight {
    box-shadow: 0 0 20px 10px #ffcc00;
    animation: highlight 5s linear;
}

@keyframes highlight {
    to {
        box-shadow: none;
    }
}